[package]
name = "findora-exporter"
version = "0.1.0"
authors = ["tommady <tommady@users.noreply.github.com>"]
edition = "2021"

[dependencies]
simple_logger = "1.3"
log = "0.4"
anyhow = "1.0"
clap = "2.33"
prometheus = "0.13"
lazy_static = "1.4"
ctrlc = { version = "3.2", features = ["termination"] }
tiny_http = "0.9"
tungstenite = "0.16.0"


[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
